@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background : linear-gradient(to right, rgb(145, 145, 145), rgb(53, 52, 52))
}

nav {
	margin:-10px auto;
    width: 100%;
    height: 80px;
    background: #414142; 
}	
 
nav .head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .head a {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    text-decoration: none;
    font-family: 'Rubik Doodle Shadow';
	font-weight: bolder;
	text-transform: uppercase;
    color: lightgray;
}
 
nav a:hover {
    background: rgb(131, 130, 133)
}

.Welcome{
	text-align: center;
	color: rgb(255, 154, 53);
	font-size: 65px;
	margin-top: 10%;
	text-transform: uppercase;
	font-weight: 900;
    font-family: 'Rubik Doodle Shadow';
}

h1.title{
    text-decoration:underline;
    margin-top: 2%;
    text-align: center;
    color :  rgb(255, 154, 53);
    font-family:'Rubik Doodle Shadow' ;
}

.informations{
    float: right;
    background:linear-gradient(to right, rgb(254, 208, 161),rgb(245, 187, 130));
    border-bottom: 5px solid rgb(255, 154, 53);
    border-top: 5px solid rgb(255, 154, 53);
    border-left: 5px solid rgb(255, 154, 53);
    border-right: 5px solid rgb(255, 154, 53);
    text-align: center;
    width: 48%;
    margin-top : 3%; 
}

.choose{
    float:inline-end;
    background:linear-gradient(to right, rgb(254, 208, 161),rgb(245, 187, 130));
    border-bottom: 5px solid rgb(255, 154, 53);
    border-top: 5px solid rgb(255, 154, 53);
    border-left: 5px solid rgb(255, 154, 53);
    border-right: 5px solid rgb(255, 154, 53);
    text-align: center;
    width: 48%;
    margin-top : 10px; 
}

.hangman{
    height: 373px;
    float: left;
    background:linear-gradient(to right, rgb(254, 208, 161),rgb(245, 187, 130));
    border-bottom: 5px solid rgb(255, 154, 53);
    border-top: 5px solid rgb(255, 154, 53);
    border-left: 5px solid rgb(255, 154, 53);
    border-right: 5px solid rgb(255, 154, 53);
    text-align: center;
    width: 48%;
    margin-top : 3%;
}

