<!DOCTYPE html>
<html>
    <head>
        <title>Hangman Web</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./static/style.css" />
    </head>
    {{template "header"}}
    <body> 
        {{template "informations" .}}
        <div class="hangman">
            <div class="bottom">-</div>
            <div class="traitvertical">|</div>
            <div class="traithorizontale">-</div>
            <div class="startperso">|</div>
            <div class="head">O</div>
            <div class="corps">|</div>
            <div class="brasgauche">\</div>
            <div class="brasdroit">/</div>
            <div class="jambegauche">/</div>
            <div class="jambedroite">\</div>
        </div>
        <div class="choose"> 
            <h1 class="title">Input</h1>
            <form method="post" action="/hangman">
                <input type="text" placeholder="Choose a word or a letter" name="Text input">
                <br>
                <button class="oauthButton">
                    Continue
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 17 5-5-5-5"></path><path d="m13 17 5-5-5-5"></path></svg>
                </button>
            </form> 
        </div>
    </body>
</html>
