<!DOCTYPE html>
<html>
    <head>
        <title>Hangman Web</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./static/style.css" />
    </head>
    {{template "header"}}
    <body> 
        {{if eq .TypeOfGame true}}
            <h4 class="error">Email or Username already use</h4>
        {{end}}
        <form class="username" method="post" action="/username">
            <h4>What is your username ?</h4>
            <input class="input" required type="text" name="SignInUsername">
            <br>
            <h4>What is your email ?</h4>
            <input class="input" required type="email" name="SignInEmail">
            <br>
            <h4>What is your password ?</h4>
            <input class="input" required type="password" name="SignInPassword">
            <br>
            <button class="buttonusername">
                Start
            </button>
        </form> 
    </body>
</html>
