<!DOCTYPE html>
<html>
    <head>
        <title>Hangman Web</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./static/style.css" />
    </head>
    {{template "header"}}
    <body> 
        <table>
            <thead>
              <tr>
                <th colspan="3">Scoreboard</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>UserName</td>
                <td>Point</td>
                <td>Level</td>
              </tr>
              {{range .Scoreboard}}
					<tr>
						{{range . }}
							<td>{{.}}</td>
						{{end}}
					</tr>
				{{end}}
            </tbody>
        </table>
    </body>
</html>
