<!DOCTYPE html>
<html>
    <head>
        <title>Hangman Web</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./static/style.css" />
    </head>
    <body>
        {{template "header"}}
        <p class="title">WIN !</p>
        <p>The word was {{.ToFind}} !</p>
        {{template "ranking" .}}
        <p> Congratulation {{.Username}} ! Your score in {{.Level}} level is {{.Point}} pts</p>
        {{if eq .WordFile "words.txt"}}
            <button class="restart"><a href="/easygame">RESTART</a></button>
        {{else if eq .WordFile "words2.txt"}}
            <button class="restart"><a href="/mediumgame">RESTART</a></button>
        {{else if eq .WordFile "words3.txt"}}
            <button class="restart"><a href="/hardgame">RESTART</a></button>
        {{end}}
    </body>
</html>